<div class="jumbotron">
  <h1 class="display-4">สมัครสมาชิก</h1>
  <form>
          <label for="exampleInputText1">ชื่อสกุล สมาชิก</label>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name">
            </div>
          </div>
      <div class="form-group">
        <label for="exampleInputEmail1">อีเมล</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">อีเมลสำหรับใช้ Login และรับแจ้งเตือน</small>
      </div>
      <div class="form-group">
          <label for="exampleInputTelephone1">เบอร์โทร</label>
          <input type="Telephone" class="form-control" id="exampleInputTelephone1"  placeholder="Enter Telephone">
          <small id="TelephoneHelp" class="form-text text-muted">แสดงเฉพาะกับผู้ดูแลที่พักที่คุณลงความคิดเห็น</small>
        </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">ยืนยันPassword</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" password">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">ผู้เช่า</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">ผู้ดูแลหอพัก</label>
          </div>
          <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  รับข่าวสารจากทางเว็บไซต์โปรโมรชันหอพัก
                </label>
              </div>
          </div>
           
    </form>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">สมัครสมาชิก</a>
</div>