<div class="container-fuild bg">
  <div class="row">

    <div class="col">
      <div class="media">
        <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
        <i class="fas fa-headphones-alt"></i>
        <div class="media-body">
          <h5 class="mt-0">ต้องการความช่วยเหลือ?</h5>
        </div>
      </div>
    </div>

          <div class="col">
              นโยบายความเป็นส่วนตัว
          </div>
          <div class="col">
              ข้อตกลงและเงื่อนไข
          </div>
  </div>
</div>
