<div style="margin-top: 20px"></div>

<div class="container-fuild bg">
  <div class="row">

    <div class="col">
      <div class="media">
        <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
        <i class="fa fa-headphones-alt"></i>
        <i class="fa fa-check"></i>
        <div class="media-body">
          <span class="mt-0">ต้องการความช่วยเหลือ?</span>
        </div>
      </div>
    </div>


          <div class="col">
              นโยบายความเป็นส่วนตัว
          </div>
          <div class="col">
              ข้อตกลงและเงื่อนไข
          </div>
  </div>
</div>
